<a href="https://colab.research.google.com/github/memeanji/pandas_studylog/blob/master/day01_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as sns
from sqlalchemy import create_engine

# 1. Seaborn에서 타이타닉 데이터셋 불러오기
titanic = sns.load_dataset('titanic')

# 2. SQLite 데이터베이스 연결 설정 (SQLite 사용)
engine = create_engine('sqlite:///titanic.db', echo=False)

# 3. 판다스 DataFrame을 SQL 테이블로 저장 (method='multi' 추가)
titanic.to_sql('titanic_table', con=engine, index=False, if_exists='replace', method='multi')

# 4. SQL 쿼리를 사용해 데이터 읽어오기
df_from_sql = pd.read_sql_query('SELECT * FROM titanic_table', con=engine)

# 읽어온 데이터 확인
print(df_from_sql.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male  deck  embark_town alive  alone
0    man           1  None  Southampton    no      0
1  woman           0     C    Cherbourg   yes      0
2  woman           0  None  Southampton   yes      1
3  woman           0     C  Southampton   yes      0
4    man           1  None  Southampton    no      1

In [ ]:
# 리스트를 만들기
df = ['데이터분석입문반', 'SQL문법기초반','파이썬문법기초반', '데이터분석모델링반']

# 2차원 리스트
df_2 =[['데이터분석입문반'],['SQL문법기초반'],['파이썬문법기초반'],['데이터분석모델링반']]

print(df)
print(df_2)

['데이터분석입문반', 'SQL문법기초반', '파이썬문법기초반', '데이터분석모델링반']
[['데이터분석입문반'], ['SQL문법기초반'], ['파이썬문법기초반'], ['데이터분석모델링반']]

In [ ]:
df_2[0][0]


df_2[1][0]

df_2[2][0]

'파이썬문법기초반'

In [ ]:
import pandas as pd
df_bda=pd.DataFrame({
    '분반': ['데이터분석입문반','SQL문법기초반','파이썬문법기초반','데이터분석모델링반'],
    '학회원수':[100,200,300,400],
    '우수학회원수':[50,60,70,80]
})

In [ ]:
df_bda

NameError: name 'df_bda' is not defined

In [ ]:
type(df_2)

list

In [ ]:
type(df_bda)

pandas.core.frame.DataFrame

In [ ]:
df_bda[0][0]

KeyError: 0

In [ ]:
df_bda.iloc[0][0]

NameError: name 'df_bda' is not defined

In [ ]:
## 패키지를 이용해서 데이터를 불러오기
import seaborn as sns
import pandas as pd
tt=sns.load_dataset('titanic')

In [ ]:
tt

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving mpg.csv to mpg (1).csv

In [ ]:
 pd.read_csv('mpg.csv')

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [ ]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [ ]:
import pandas as pd
df_bda=pd.DataFrame({
    '분반': ['데이터분석입문반','SQL문법기초반','파이썬문법기초반','데이터분석모델링반'],
    '학회원수':[100,200,300,400],
    '우수학회원수':[50,60,70,80]
})

df_bda

          분반  학회원수  우수학회원수
0   데이터분석입문반   100      50
1   SQL문법기초반   200      60
2   파이썬문법기초반   300      70
3  데이터분석모델링반   400      80

In [ ]:
df_bda[['분반','우수학회원수']]

          분반  우수학회원수
0   데이터분석입문반      50
1   SQL문법기초반      60
2   파이썬문법기초반      70
3  데이터분석모델링반      80

In [ ]:
tt

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
tt[['survived','sex','fare']]

     survived     sex     fare
0           0    male   7.2500
1           1  female  71.2833
2           1  female   7.9250
3           1  female  53.1000
4           0    male   8.0500
..        ...     ...      ...
886         0    male  13.0000
887         1  female  30.0000
888         0  female  23.4500
889         1    male  30.0000
890         0    male   7.7500

[891 rows x 3 columns]

In [ ]:
df_bda[['분반']]

          분반
0   데이터분석입문반
1   SQL문법기초반
2   파이썬문법기초반
3  데이터분석모델링반

In [ ]:
tt['fare']*100

0       725.00
1      7128.33
2       792.50
3      5310.00
4       805.00
        ...
886    1300.00
887    3000.00
888    2345.00
889    3000.00
890     775.00
Name: fare, Length: 891, dtype: float64

In [ ]:
df

['데이터분석입문반', 'SQL문법기초반', '파이썬문법기초반', '데이터분석모델링반']

In [ ]:
#반복문 리스트 접급시
for i in df:
    print(i)

데이터분석입문반
SQL문법기초반
파이썬문법기초반
데이터분석모델링반

In [ ]:
## 데이터프레임은 반복문을 어떻게 접근할까?

In [ ]:
df_bda

          분반  학회원수  우수학회원수
0   데이터분석입문반   100      50
1   SQL문법기초반   200      60
2   파이썬문법기초반   300      70
3  데이터분석모델링반   400      80

In [ ]:
for i in df_bda:
    print(i)

분반
학회원수
우수학회원수

In [ ]:
for i in df_bda['학회원수']:
    print(i)

100
200
300
400

In [ ]:
df_bda[['학회원수','분반']]

   학회원수         분반
0   100   데이터분석입문반
1   200   SQL문법기초반
2   300   파이썬문법기초반
3   400  데이터분석모델링반

In [ ]:
for i in df_bda[['학회원수','분반']]:
    print(i)

학회원수
분반

In [ ]:
list(df_bda['분반'])

['데이터분석입문반', 'SQL문법기초반', '파이썬문법기초반', '데이터분석모델링반']

In [ ]:
tt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [ ]:
tt.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [ ]:
tt.describe(include='all')

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
count,891.000000,891.000000,891,714.000000,891.000000,891.000000,891.000000,889,891,891,891,203,889,891,891
unique,NaN,NaN,2,NaN,NaN,NaN,NaN,3,3,3,2,7,3,2,2
top,NaN,NaN,male,NaN,NaN,NaN,NaN,S,Third,man,True,C,Southampton,no,True
freq,NaN,NaN,577,NaN,NaN,NaN,NaN,644,491,537,537,59,644,549,537
mean,0.383838,2.308642,NaN,29.699118,0.523008,0.381594,32.204208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.486592,0.836071,NaN,14.526497,1.102743,0.806057,49.693429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,1.000000,NaN,0.420000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,0.000000,2.000000,NaN,20.125000,0.000000,0.000000,7.910400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,0.000000,3.000000,NaN,28.000000,0.000000,0.000000,14.454200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.000000,3.000000,NaN,38.000000,1.000000,0.000000,31.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1.000000,3.000000,NaN,80.000000,8.000000,6.000000,512.329200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
tt.shape

(891, 15)

In [ ]:
list(tt.columns)

['survived',
 'pclass',
 'sex',
 'age',
 'sibsp',
 'parch',
 'fare',
 'embarked',
 'class',
 'who',
 'adult_male',
 'deck',
 'embark_town',
 'alive',
 'alone']

In [ ]:
tt.dtypes

survived          int64
pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
dtype: object

In [ ]:
tt.head(20)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
12,0,3,male,20.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
13,0,3,male,39.0,1,5,31.2750,S,Third,man,True,NaN,Southampton,no,False
14,0,3,female,14.0,0,0,7.8542,S,Third,child,False,NaN,Southampton,no,True
15,1,2,female,55.0,0,0,16.0000,S,Second,woman,False,NaN,Southampton,yes,True
16,0,3,male,2.0,4,1,29.1250,Q,Third,child,False,NaN,Queenstown,no,False
17,1,2,male,NaN,0,0,13.0000,S,Second,man,True,NaN,Southampton,yes,True
18,0,3,female,31.0,1,0,18.0000,S,Third,woman,False,NaN,Southampton,no,False
19,1,3,female,NaN,0,0,7.2250,C,Third,woman,False,NaN,Cherbourg,yes,True

In [ ]:
tt.tail(20)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
871,1,1,female,47.0,1,1,52.5542,S,First,woman,False,D,Southampton,yes,False
872,0,1,male,33.0,0,0,5.0000,S,First,man,True,B,Southampton,no,True
873,0,3,male,47.0,0,0,9.0000,S,Third,man,True,NaN,Southampton,no,True
874,1,2,female,28.0,1,0,24.0000,C,Second,woman,False,NaN,Cherbourg,yes,False
875,1,3,female,15.0,0,0,7.2250,C,Third,child,False,NaN,Cherbourg,yes,True
876,0,3,male,20.0,0,0,9.8458,S,Third,man,True,NaN,Southampton,no,True
877,0,3,male,19.0,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
878,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False
880,1,2,female,25.0,0,1,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
881,0,3,male,33.0,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
882,0,3,female,22.0,0,0,10.5167,S,Third,woman,False,NaN,Southampton,no,True
883,0,2,male,28.0,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
884,0,3,male,25.0,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
885,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no,False
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
tt

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
tt.loc[3]

survived                 1
pclass                   1
sex                 female
age                   35.0
sibsp                    1
parch                    0
fare                  53.1
embarked                 S
class                First
who                  woman
adult_male           False
deck                     C
embark_town    Southampton
alive                  yes
alone                False
Name: 3, dtype: object

In [ ]:
tt.iloc[890]

survived                0
pclass                  3
sex                  male
age                  32.0
sibsp                   0
parch                   0
fare                 7.75
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 890, dtype: object

In [ ]:
tt['fare'][890]

np.float64(7.75)

In [ ]:
tt.loc[:30:2]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
12,0,3,male,20.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
14,0,3,female,14.0,0,0,7.8542,S,Third,child,False,NaN,Southampton,no,True
16,0,3,male,2.0,4,1,29.1250,Q,Third,child,False,NaN,Queenstown,no,False
18,0,3,female,31.0,1,0,18.0000,S,Third,woman,False,NaN,Southampton,no,False
20,0,2,male,35.0,0,0,26.0000,S,Second,man,True,NaN,Southampton,no,True
22,1,3,female,15.0,0,0,8.0292,Q,Third,child,False,NaN,Queenstown,yes,True
24,0,3,female,8.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
26,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
28,1,3,female,NaN,0,0,7.8792,Q,Third,woman,False,NaN,Queenstown,yes,True
30,0,1,male,40.0,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True

In [ ]:
tt['fare'].mean()

np.float64(32.204207968574636)

In [ ]:
for i in tt['fare']:
    if i > tt['fare'].mean():
        print(i)

71.2833
53.1
51.8625
35.5
263.0
146.5208
82.1708
52.0
41.5792
39.6875
76.7292
61.9792
35.5
46.9
80.0
83.475
46.9
73.5
56.4958
47.1
34.375
263.0
61.175
34.6542
63.3583
77.2875
52.0
247.5208
73.5
77.2875
53.1
79.2
36.75
34.375
66.6
61.3792
69.55
39.6875
55.0
56.4958
33.5
69.55
39.0
50.0
146.5208
69.55
113.275
76.2917
90.0
83.475
90.0
52.5542
79.2
86.5
512.3292
79.65
39.6875
153.4625
135.6333
77.9583
78.85
91.0792
151.55
247.5208
151.55
110.8833
108.9
56.9292
83.1583
262.375
164.8667
134.5
69.55
135.6333
57.9792
153.4625
133.65
66.6
134.5
35.5
263.0
35.0
55.0
75.25
69.3
55.4417
135.6333
82.1708
211.5
227.525
52.0
73.5
46.9
120.0
113.275
90.0
32.5
55.9
120.0
34.375
263.0
81.8583
89.1042
51.8625
38.5
52.0
46.9
91.0792
90.0
49.5042
78.2667
151.55
86.5
108.9
56.4958
59.4
34.0208
93.5
57.9792
221.7792
106.425
49.5
71.0
106.425
36.75
110.8833
39.6
227.525
79.65
51.4792
55.9
110.8833
40.125
79.65
79.2
78.2667
33.0
56.9292
42.4
41.5792
153.4625
65.0
39.0
52.5542
32.3208
77.9583
39.6875
69.3
56.4958
76.7292
35.5
73.5
113.275
133.65
73.5
52.0
39.0
52.0
46.9
512.3292
76.7292
46.9
39.0
41.5792
39.6875
211.3375
57.0
56.4958
110.8833
227.525
151.55
49.5042
52.0
227.525
33.0
53.1
211.3375
34.375
512.3292
78.85
262.375
71.0
53.1
65.0
86.5
120.0
77.9583
39.6
211.3375
57.0
79.2
69.55
120.0
53.1
37.0042
93.5
39.6875
56.4958
37.0042
80.0
83.1583
56.4958
69.55
33.0
89.1042
39.4
164.8667
69.55
50.4958
52.5542
83.1583